<div class="calendar"
     th:fragment="calendar">

    <h2>🗓️ Calendario semanal</h2>

    <div class="week">

        <div class="day monday">

            <h3>Lunes</h3>

            <span>08:00</span>

            <p>📚 Redes</p>

        </div>


        <div class="day tuesday">

            <h3>Martes</h3>

            <span>17:00</span>

            <p>💪 Gym</p>

        </div>


        <div class="day wednesday">

            <h3>Miércoles</h3>

            <span>10:00</span>

            <p>📖 Cálculo II</p>

        </div>


        <div class="day thursday">

            <h3>Jueves</h3>

            <span>21:00</span>

            <p>🎬 Interstellar</p>

        </div>


        <div class="day friday">

            <h3>Viernes</h3>

            <span>19:00</span>

            <p>✈ Viaje</p>

        </div>


        <div class="day saturday">

            <h3>Sábado</h3>

            <span>10:00</span>

            <p>🏖 Playa</p>

        </div>


        <div class="day sunday">

            <h3>Domingo</h3>

            <span>Libre</span>

            <p>😴 Descanso</p>

        </div>

    </div>

</div>