<div class="calendar"
     th:fragment="calendar">

    <h2>

        🗓️ Calendario semanal

    </h2>


    <div class="week">

        <!-- Recorrer actividades -->
        <div class="day"

             th:each="activity : ${activities}">

            <!-- Fecha -->
            <h3

                th:text="${activity.activityDate}">

            </h3>


            <!-- Hora -->
            <span

                  th:text="${activity.startTime}">

            </span>


            <!-- Actividad -->
            <p>

                <span

                      th:if="${activity.category != null}"

                      th:text="${activity.category.icon + ' '}">

                </span>

                <span

                      th:text="${activity.title}">

                </span>

            </p>

        </div>

    </div>

</div>