<div class="daily-plan"
     th:fragment="dailyPlan">

    <h2>

        📋 Plan de hoy

    </h2>


    <!-- Recorrer actividades -->
    <div class="task"
         th:each="activity : ${activities}">

        <div class="task-info">

            <!-- Hora -->
            <span class="time"
                  th:text="${activity.startTime}">
            </span>

            <div>

                <!-- Título -->
                <h4 th:text="${activity.title}">
                </h4>

                <!-- Categoría -->
                <p th:if="${activity.category != null}"
                   th:text="${activity.category.name}">
                </p>

                <p th:if="${activity.category == null}">

                    Sin categoría

                </p>

            </div>

        </div>


        <!-- Estado -->
        <span class="completed"
              th:if="${activity.status == 'COMPLETED'}">

            ✔

        </span>


        <span class="partial"
              th:if="${activity.status == 'PARTIALLY_COMPLETED'}">

            ◐

        </span>


        <span class="pending"
              th:if="${activity.status == 'NOT_COMPLETED'}">

            …

        </span>

    </div>

</div>