<div class="daily-plan"
     th:fragment="dailyPlan">

    <h2>📋 Plan de hoy</h2>

    <!-- Actividad 1 -->
    <div class="task">

        <div class="task-info">

            <span class="time">08:00</span>

            <div>

                <h4>Redes</h4>

                <p>Universidad</p>

            </div>

        </div>

        <span class="completed">

            ✔

        </span>

    </div>


    <!-- Actividad 2 -->
    <div class="task">

        <div class="task-info">

            <span class="time">17:00</span>

            <div>

                <h4>Gym</h4>

                <p>Salud</p>

            </div>

        </div>

        <span class="partial">

            ◐

        </span>

    </div>


    <!-- Actividad 3 -->
    <div class="task">

        <div class="task-info">

            <span class="time">20:00</span>

            <div>

                <h4>Cocinar</h4>

                <p>Personal</p>

            </div>

        </div>

        <span class="completed">

            ✔

        </span>

    </div>


    <!-- Actividad 4 -->
    <div class="task">

        <div class="task-info">

            <span class="time">21:00</span>

            <div>

                <h4>Interstellar</h4>

                <p>Ocio</p>

            </div>

        </div>

        <span class="pending">

            …

        </span>

    </div>

</div>