<div class="floating-menu"
     th:fragment="floatingButton">

    <!-- Botón principal -->
    <div class="floating-button">

        +

    </div>


    <!-- Menú -->
    <div class="floating-options">

        <div class="option">

            📋 Nueva actividad

        </div>


        <div class="option">

            📚 Nuevo curso

        </div>


        <div class="option">

            🎬 Nueva película

        </div>


        <div class="option">

            ✈ Nuevo viaje

        </div>


        <div class="option">

            📅 Nueva planificación

        </div>

    </div>

</div>