
<!--
  Floating action menu fragment.

  A fixed-position "+" button that expands into quick-create shortcuts
  for the most commonly added entities. Note: "New planning" was removed
  from this menu since Planning is not currently surfaced in the UI.

  Included via: th:replace="~{fragments/floatingButton :: floatingButton}"
-->


<div class="floating-menu"
     th:fragment="floatingButton">

    <!-- Botón principal -->
    <div class="floating-button">

        +

    </div>

    <!-- Menú -->
    <div class="floating-options">

        <a
           th:href="@{/newActivity}"
           class="option">

            📋 Nueva actividad

        </a>


        <a
           th:href="@{/newCourse}"
           class="option">

            📚 Nuevo curso

        </a>


        <a
           th:href="@{/newMovie}"
           class="option">

            🎬 Nueva película

        </a>


        <a
           th:href="@{/newTrip}"
           class="option">

            ✈️ Nuevo viaje

        </a>

    </div>

</div>