<div class="goals"
     th:fragment="goals">

    <h2>⭐ Metas</h2>


    <!-- Meta 1 -->
    <div class="goal">

        <div class="goal-info">

            <h4>Gym 3 veces por semana</h4>

            <span>2/3</span>

        </div>

        <div class="progress-bar">

            <div class="progress gym-progress">

            </div>

        </div>

    </div>


    <!-- Meta 2 -->
    <div class="goal">

        <div class="goal-info">

            <h4>Ver 20 películas</h4>

            <span>12/20</span>

        </div>

        <div class="progress-bar">

            <div class="progress movie-progress">

            </div>

        </div>

    </div>


    <!-- Meta 3 -->
    <div class="goal">

        <div class="goal-info">

            <h4>Estudiar 300 horas</h4>

            <span>180/300</span>

        </div>

        <div class="progress-bar">

            <div class="progress study-progress">

            </div>

        </div>

    </div>

</div>