<div class="goals"
     th:fragment="goals">

    <h2>⭐ Metas</h2>


    <!-- Meta 1 -->
    <div class="goal">

        <div class="goal-info">

            <h4>💪 Ejercicio semanal</h4>

            <span>3 horas</span>

        </div>

        <div class="progress-bar">

            <div class="progress gym-progress">

            </div>

        </div>

    </div>


    <!-- Meta 2 -->
    <div class="goal">

        <div class="goal-info">

            <h4>🎬 Tiempo de ocio</h4>

            <span>5 horas</span>

        </div>

        <div class="progress-bar">

            <div class="progress movie-progress">

            </div>

        </div>

    </div>


    <!-- Meta 3 -->
    <div class="goal">

        <div class="goal-info">

            <h4>📚 Horas de estudio</h4>

            <span>20 horas</span>

        </div>

        <div class="progress-bar">

            <div class="progress study-progress">

            </div>

        </div>

    </div>


    <!-- Meta 4 -->
    <div class="goal">

        <div class="goal-info">

            <h4>✅ Actividades completadas</h4>

            <span th:text="${totalActivities}">
            </span>

        </div>

        <div class="progress-bar">

            <div class="progress gym-progress">

            </div>

        </div>

    </div>

</div>