<div class="goals"
     th:fragment="goals">

    <h2>

        ⭐ Metas

    </h2>


    <!-- Ejercicio -->
    <div class="goal">

        <div class="goal-info">

            <h4>

                💪 Horas de ejercicio

            </h4>

            <span>

                <span th:text="${exerciseHours}">
                </span>

                h

            </span>

        </div>

        <div class="progress-bar">

            <div class="progress gym-progress">

            </div>

        </div>

    </div>


    <!-- Ocio -->
    <div class="goal">

        <div class="goal-info">

            <h4>

                🎬 Horas de ocio

            </h4>

            <span>

                <span th:text="${leisureHours}">
                </span>

                h

            </span>

        </div>

        <div class="progress-bar">

            <div class="progress movie-progress">

            </div>

        </div>

    </div>


    <!-- Estudio -->
    <div class="goal">

        <div class="goal-info">

            <h4>

                📚 Horas de estudio

            </h4>

            <span>

                <span th:text="${studyHours}">
                </span>

                h

            </span>

        </div>

        <div class="progress-bar">

            <div class="progress study-progress">

            </div>

        </div>

    </div>


    <!-- Actividades -->
    <div class="goal">

        <div class="goal-info">

            <h4>

                ✅ Total de actividades

            </h4>

            <span th:text="${totalActivities}">
            </span>

        </div>

        <div class="progress-bar">

            <div class="progress gym-progress">

            </div>

        </div>

    </div>

</div>