<!--
=========================================
BARRA SUPERIOR DEL DASHBOARD
=========================================
-->

<div class="navbar"
     th:fragment="navbar">css

    <!-- Saludo -->
    <div class="welcome">

        <h1>¡Hola, Darling! 👋</h1>

        <p>Bienvenido a tu Life Planner</p>

    </div>

    <!-- Parte derecha -->
    <div class="navbar-right">

        <!-- Fecha -->
        <span>13 de junio de 2026</span>

        <!-- Foto de perfil -->
        <div class="profile">

            👤

        </div>

    </div>

</div>