<!--
=======================================
MENÚ LATERAL DE LA APLICACIÓN
=======================================
-->

<div class="sidebar"
     th:fragment="sidebar">

    <!-- Nombre de la aplicación -->
    <h2>Darling Life Planner 🌸</h2>


    <!-- SECCIÓN INICIO -->
    <h4>INICIO</h4>

    <ul>

        <li>
            <a th:href="@{/}">
                🏠 Inicio
            </a>
        </li>

        <li>
            <a th:href="@{/planningsPage}">
                📅 Mis Planificaciones
            </a>
        </li>

        <li>
            🗓 Calendario
        </li>

    </ul>


    <!-- SECCIÓN CATEGORÍAS -->
    <h4>CATEGORÍAS</h4>

    <ul>

        <li>
            <a th:href="@{/activitiesPage}">
                📋 Actividades
            </a>
        </li>

        <li>
            <a th:href="@{/coursesPage}">
                📚 Cursos
            </a>
        </li>

        <li>
            <a th:href="@{/moviesPage}">
                🎬 Películas
            </a>
        </li>

        <li>
            <a th:href="@{/tripsPage}">
                ✈ Viajes
            </a>
        </li>

        <li>
            <a th:href="@{/categoriesPage}">
                🏷 Categorías
            </a>
        </li>

    </ul>


    <!-- SECCIÓN ANÁLISIS -->
    <h4>ANÁLISIS</h4>

    <ul>

        <li>🎯 Metas</li>

        <li>

    <a th:href="@{/reportsPage}">

        📊 Reportes

    </a>

</li>

    </ul>


    <!-- SECCIÓN USUARIO -->
    <h4>USUARIO</h4>

    <ul>

        <li>👤 Perfil</li>

        <li>⚙ Configuración</li>

        <li>🚪 Cerrar sesión</li>

    </ul>

</div>