<div class="upcoming"
     th:fragment="upcoming">

    <h2>

        📅 Próximas actividades

    </h2>


    <!-- Recorrer actividades -->
    <div class="event"

         th:each="activity : ${activities}">

        <h4

            th:text="${activity.activityDate + ' - ' + activity.startTime}">

        </h4>


        <p>

            <span

                  th:if="${activity.category != null}"

                  th:text="${activity.category.icon + ' '}">

            </span>

            <span

                  th:text="${activity.title}">

            </span>

        </p>

    </div>

</div>