/*
=========================================
NAVBAR
=========================================
*/

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 20px;
s
    padding: 18px 28px;

    background: rgba(255, 255, 255, .88);

    backdrop-filter: blur(8px);

    -webkit-backdrop-filter: blur(8px);

    border-radius: 22px;

    box-shadow: 0px 8px 25px rgba(0, 0, 0, .08);

    position: relative;

    z-index: 10;

}


/*
=========================================
SALUDO
=========================================
*/

.welcome h1 {

    color: var(--text-title);

    font-size: 24px;

    font-weight: 700;

    margin: 0;

    transition: color .3s ease;

}


.welcome p {

    margin-top: 5px;

    color: var(--text-main);

    font-size: 13px;

    opacity: .9;

    transition: color .3s ease;

}


/*
=========================================
PARTE DERECHA
=========================================
*/

.navbar-right {

    display: flex;

    align-items: center;

    gap: 18px;

    font-size: 14px;

    color: var(--text-main);

}


/*
=========================================
PERFIL
=========================================
*/

.profile {

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 6px 12px;

    border-radius: 50px;

    background: #EBDCF8;

    color: #7B5E8C;

    font-size: 13px;

    font-weight: 600;

    transition: .3s;

}

.profile:hover {

    background: #E2CEF5;

}