/*
=======================================
SIDEBAR
=======================================
*/

.sidebar{

    width:250px;

    min-height:100vh;

    background-color:white;

    padding:30px;

    box-shadow:0px 0px 15px rgba(0,0,0,0.08);

}


/*
TÍTULO
*/
.sidebar h2{

    color:#7C6A91;

    margin-bottom:40px;

    font-size:32px;

}


/*
TÍTULOS DE SECCIÓN
*/
.sidebar h4{

    color:#B0A5B9;

    font-size:12px;

    letter-spacing:2px;

    margin-top:30px;

    margin-bottom:15px;

}


/*
LISTAS
*/
.sidebar ul{

    list-style:none;

    padding:0;

}


/*
ELEMENTOS DEL MENÚ
*/
.sidebar li{

    padding:14px 18px;

    margin-bottom:6px;

    border-radius:15px;

    transition:0.3s;

}


/*
ENLACES DEL MENÚ
*/
.sidebar a{

    text-decoration:none;

    color:#666;

    display:block;

}


/*
EFECTO AL PASAR EL MOUSE
*/
.sidebar li:hover{

    background-color:#F4E7F7;

}


/*
COLOR DEL TEXTO AL PASAR EL MOUSE
*/
.sidebar li:hover a{

    color:#7C6A91;

}