<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Permite usar caracteres especiales -->
    <meta charset="UTF-8">

    <!-- Hace que la página sea adaptable a celulares -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>Iniciar sesión - Darling Life Planner</title>

    <!-- CSS -->
    <link rel="stylesheet"
          th:href="@{/css/login.css}">

</head>

<body>

    <div class="login-container">

        <!-- Nombre de la aplicación -->
        <h1>

            Darling Life Planner 🌸

        </h1>

        <!-- Mensaje -->
        <h2>

            Bienvenido de nuevo

        </h2>

        <!-- Mensaje de error -->
        <p
            style="color:red"
            th:if="${param.error}">

            Correo o contraseña incorrectos

        </p>

        <!-- Formulario -->
        <form
              th:action="@{/login}"
              method="post">

            <!-- Correo -->
            <label>

                Correo electrónico

            </label>

            <input
                    type="email"

                    name="email"

                    placeholder="Ingrese su correo"

                    required>

            <!-- Contraseña -->
            <label>

                Contraseña

            </label>

            <input
                    type="password"

                    name="password"

                    placeholder="Ingrese su contraseña"

                    required>

            <!-- Botón -->
            <button type="submit">

                Iniciar sesión

            </button>

        </form>

        <!-- Registrarse -->
        <p>

            ¿No tienes cuenta?

            <a th:href="@{/register}">

                Registrarse

            </a>

        </p>

    </div>

</body>

</html>